.depth4Frame0 {
  	width: 16px;
  	height: 16px;
}
.wandernest {
  	align-self: stretch;
  	position: relative;
  	line-height: 23px;
}
.depth4Frame1 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	cursor: pointer;
}
.depth3Frame01 {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
}
.home {
  	align-self: stretch;
  	position: relative;
  	line-height: 21px;
  	font-weight: 500;
}
.depth5Frame0 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.depth4Frame11 {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 36px;
  	font-size: 14px;
  	color: #1c170d;
}
.depth3Frame0 {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 32px;
}
.depth6Frame0 {
  	align-self: stretch;
  	width: 40px;
  	border-radius: 12px 0px 0px 12px;
  	max-height: 100%;
}
.search {
  	position: relative;
  	line-height: 24px;
}
.depth6Frame1 {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 0px 12px 12px 0px;
  	background-color: #f5f0e5;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 8px 16px 8px 8px;
}
.depth5Frame01 {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 12px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.depth4Frame01 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	min-width: 160px;
  	max-width: 256px;
}
.signUp {
  	align-self: stretch;
  	position: relative;
  	line-height: 21px;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.depth6Frame01 {
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.depth5Frame02 {
  	border-radius: 20px;
  	background-color: #abb79b;
  	height: 40px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 16px;
  	box-sizing: border-box;
  	min-width: 84px;
  	max-width: 480px;
}
.depth5Frame11 {
  	width: 40px;
  	border-radius: 20px;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	max-width: 480px;
}
.depth4Frame12 {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 8px;
  	text-align: center;
  	font-size: 14px;
  	color: #fff;
}
.depth3Frame1 {
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-end;
  	gap: 32px;
  	font-size: 16px;
  	color: #a1824a;
}
.depth2Frame0 {
  	align-self: stretch;
  	border-bottom: 1px solid #e5e8eb;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	padding: 12px 40px;
  	gap: 0px;
}
.community2 {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -1px;
  	line-height: 45px;
  	font-weight: 800;
}
.depth6Frame02 {
  	width: 360px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.connectShareAnd {
  	align-self: stretch;
  	position: relative;
  	line-height: 24px;
}
.depth6Frame11 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-size: 16px;
  	color: #a1824a;
}
.depth5Frame03 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
  	min-width: 288px;
}
.depth4Frame02 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: space-between;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	padding: 16px;
  	font-size: 36px;
}
.searchTravelBlogs {
  	width: 275.8px;
  	position: relative;
  	line-height: 24px;
  	white-space: pre-wrap;
  	display: inline-block;
  	flex-shrink: 0;
}
.depth5Frame04 {
  	align-self: stretch;
  	height: 48px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	min-width: 160px;
}
.depth4Frame13 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 12px 16px;
  	color: #a1824a;
}
.latestTravelBlogs {
  	align-self: stretch;
  	position: relative;
  	line-height: 28px;
}
.depth4Frame2 {
  	align-self: stretch;
  	height: 60px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 20px 16px 12px;
  	box-sizing: border-box;
  	font-size: 22px;
}
.depth7Frame01 {
  	align-self: stretch;
  	position: relative;
  	border-radius: 12px;
  	max-width: 100%;
  	overflow: hidden;
  	height: 99px;
  	flex-shrink: 0;
  	object-fit: cover;
}
.exploringTheHills {
  	align-self: stretch;
  	position: relative;
  	line-height: 24px;
  	font-weight: 500;
}
.byNazim {
  	align-self: stretch;
  	position: relative;
  	line-height: 21px;
}
.depth8Frame1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-size: 14px;
  	color: #a1824a;
}
.depth6Frame04 {
  	align-self: stretch;
  	width: 176px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 0px 12px;
  	box-sizing: border-box;
  	gap: 12px;
}
.depth6Frame2 {
  	align-self: stretch;
  	width: 176px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 0px 12px;
  	box-sizing: border-box;
  	gap: 12px;
  	cursor: pointer;
}
.depth5Frame05 {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
}
.depth5Frame12 {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.depth4Frame3 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 16px;
  	gap: 12px;
}
.depth7Frame07 {
  	align-self: stretch;
  	position: relative;
  	border-radius: 12px;
  	max-width: 100%;
  	overflow: hidden;
  	height: 176px;
  	flex-shrink: 0;
  	object-fit: cover;
}
.depth8Frame16 {
  	width: 100%;
  	border-radius: 20px;
  	background-color: #f5f0e5;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 16px;
  	box-sizing: border-box;
  	min-width: 84px;
  	max-width: 480px;
  	text-align: center;
  	font-size: 14px;
}
.depth7Frame17 {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: space-between;
  	padding: 0px 16px 16px;
  	gap: 0px;
}
.depth6Frame06 {
  	align-self: stretch;
  	flex: 1;
  	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  	border-radius: 12px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
  	min-width: 160px;
}
.depth5Frame06 {
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 16px;
  	gap: 12px;
}
.depth4Frame5 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.depth7Frame012 {
  	width: 40px;
  	position: relative;
  	border-radius: 20px;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: cover;
}
.depth7Frame112 {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.depth6Frame07 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 12px;
}
.depth7Frame013 {
  	width: 20px;
  	height: 20px;
}
.depth6Frame14 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 2px;
}
.depth8Frame112 {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.depth7Frame014 {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 8px;
}
.depth7Frame114 {
  	width: 20px;
  	height: 24px;
}
.depth6Frame32 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 36px;
  	text-align: center;
  	color: #a1824a;
}
.depth5Frame07 {
  	align-self: stretch;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
}
.depth4Frame7 {
  	align-self: stretch;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 16px;
  	gap: 32px;
}
.depth3Frame02 {
  	flex: 1;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	max-width: 960px;
}
.depth2Frame1 {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 20px 160px;
  	font-size: 16px;
  	color: #1c170d;
}
.depth1Frame0 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.depth0Frame0 {
  	align-self: stretch;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	min-height: 800px;
}
.community1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1280px;
  	height: 2063px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.communityWrapper {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1280px;
  	height: 2063px;
}
.depth6Frame010 {
  	width: 160px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	min-width: 160px;
  	cursor: pointer;
}
.depth6Frame17 {
  	width: 160px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	min-width: 160px;
}
.depth5Frame08 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	flex-wrap: wrap;
  	align-content: center;
  	gap: 24px 0px;
}
.depth6Frame011 {
  	width: 24px;
  	height: 24px;
}
.depth5Frame14 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	gap: 16px;
}
.depth5Frame22 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.depth4Frame03 {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 40px 20px;
  	gap: 24px;
}
.depth3Frame03 {
  	width: 960px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	max-width: 960px;
}
.footer {
  	position: absolute;
  	top: 2063px;
  	left: 0px;
  	background-color: #1c170d;
  	width: 1280px;
  	height: 200px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	text-align: center;
  	font-size: 16px;
  	color: #e8f2f2;
}
.community {
  	width: 100%;
  	position: relative;
  	height: 2263px;
  	text-align: left;
  	font-size: 18px;
  	color: #0d1c1c;
  	font-family: 'Plus Jakarta Sans';
}

