.depth4Frame0 {
  	width: 16px;
  	height: 16px;
}
.wandernest {
  	align-self: stretch;
  	position: relative;
  	font-size: 18px;
  	line-height: 23px;
  	font-family: 'Plus Jakarta Sans';
  	color: #0d1c1c;
  	text-align: left;
}
.depth4Frame1 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	cursor: pointer;
}
.depth3Frame0 {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
}
.destinations {
  	align-self: stretch;
  	position: relative;
  	font-size: 14px;
  	line-height: 21px;
  	font-weight: 500;
  	font-family: 'Plus Jakarta Sans';
  	color: #0d1c1c;
  	text-align: left;
}
.flights {
  	align-self: stretch;
  	position: relative;
  	font-size: 14px;
  	line-height: 21px;
  	font-weight: 500;
  	font-family: 'Plus Jakarta Sans';
  	color: #0d1c1c;
  	text-align: left;
  	cursor: pointer;
}
.depth5Frame2 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.depth4Frame01 {
  	height: 40px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 36px;
}
.signUp {
  	align-self: stretch;
  	position: relative;
  	font-size: 14px;
  	line-height: 21px;
  	font-family: 'Plus Jakarta Sans';
  	color: #0d1c1c;
  	text-align: center;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.depth6Frame0 {
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.depth5Frame01 {
  	width: 84px;
  	border-radius: 12px;
  	background-color: #abb79a;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 16px;
  	box-sizing: border-box;
  	min-width: 84px;
  	max-width: 480px;
  	cursor: pointer;
}
.depth5Frame11 {
  	width: 84px;
  	border-radius: 12px;
  	background-color: #e8f2f2;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 16px;
  	box-sizing: border-box;
  	min-width: 84px;
  	max-width: 480px;
  	cursor: pointer;
}
.depth5Frame21 {
  	width: 40px;
  	border-radius: 12px;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	max-width: 480px;
}
.depth4Frame11 {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 8px;
}
.depth3Frame1 {
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-end;
  	gap: 32px;
}
.navbar {
  	width: 1428px;
  	flex: 1;
  	border-bottom: 1px solid #e5e8eb;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	padding: 12px 40px;
  	gap: 0px;
}
.discoverTheBeauty {
  	position: absolute;
  	top: 0px;
  	left: 45px;
  	font-size: 20px;
  	line-height: 24px;
  	font-family: 'Plus Jakarta Sans';
  	color: #fff;
  	text-align: center;
}
.depth8Frame1 {
  	position: absolute;
  	top: 68px;
  	left: 0px;
  	width: 829px;
  	height: 24px;
}
.depth7Frame0 {
  	position: absolute;
  	top: 247px;
  	left: calc(50% - 414px);
  	width: 829px;
  	height: 92px;
}
.exploreBangladeshWith {
  	position: absolute;
  	top: 210px;
  	left: 63px;
  	font-size: 48px;
  	letter-spacing: -2px;
  	line-height: 60px;
  	font-weight: 800;
  	font-family: 'Plus Jakarta Sans';
  	color: #fff;
  	text-align: center;
}
.depth6Frame02 {
  	position: absolute;
  	top: 16px;
  	left: 16px;
  	border-radius: 12px;
  	width: 928px;
  	height: 480px;
  	overflow: hidden;
  	background-image: url('C:\Users\HP\Desktop\Wandernest\Wandernest\public\Figma_photoes\homebg.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
  	min-height: 480px;
}
.depth5Frame02 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 960px;
  	height: 512px;
}
.depth4Frame02 {
  	width: 960px;
  	position: relative;
  	height: 512px;
}
.featuredDestinations {
  	align-self: stretch;
  	position: relative;
  	font-size: 22px;
  	line-height: 28px;
  	font-family: 'Plus Jakarta Sans';
  	color: #0d1c1c;
  	text-align: left;
}
.depth4Frame12 {
  	align-self: stretch;
  	height: 60px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 20px 16px 12px;
  	box-sizing: border-box;
}
.depth7Frame01 {
  	align-self: stretch;
  	position: relative;
  	border-radius: 12px;
  	max-width: 100%;
  	overflow: hidden;
  	height: 197px;
  	flex-shrink: 0;
  	object-fit: cover;
}
.srimangal {
  	align-self: stretch;
  	position: relative;
  	font-size: 16px;
  	line-height: 24px;
  	font-weight: 500;
  	font-family: 'Plus Jakarta Sans';
  	color: #0d1c1c;
  	text-align: left;
}
.exploreLushTea {
  	align-self: stretch;
  	position: relative;
  	font-size: 14px;
  	line-height: 21px;
  	font-family: 'Plus Jakarta Sans';
  	color: #444;
  	text-align: left;
}
.depth7Frame1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.depth6Frame03 {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
  	min-width: 160px;
}
.depth6Frame1 {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
  	min-width: 160px;
  	cursor: pointer;
}
.depth5Frame03 {
  	width: 648px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 16px;
  	box-sizing: border-box;
  	gap: 12px;
}
.depth4Frame2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	cursor: pointer;
}
.depth7Frame05 {
  	align-self: stretch;
  	max-width: 100%;
  	overflow: hidden;
  	height: 24px;
  	flex-shrink: 0;
}
.visaAssistance {
  	align-self: stretch;
  	position: relative;
  	font-size: 16px;
  	line-height: 20px;
  	font-family: 'Plus Jakarta Sans';
  	color: #0d1c1c;
  	text-align: left;
}
.depth8Frame04 {
  	align-self: stretch;
  	height: 20px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.depth7Frame14 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 4px;
}
.depth6Frame04 {
  	align-self: stretch;
  	width: 301px;
  	border-radius: 8px;
  	background-color: #f7fcfc;
  	border: 1px solid #d1e8e8;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 16px;
  	gap: 12px;
  	cursor: pointer;
}
.depth5Frame04 {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
}
.depth4Frame4 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 16px;
}
.depth5Frame05 {
  	width: 61px;
  	position: relative;
  	border-radius: 12px;
  	height: 60px;
  	overflow: hidden;
  	flex-shrink: 0;
  	max-width: 480px;
}
.depth4Frame5 {
  	align-self: stretch;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-end;
  	padding: 0px 20px 20px;
}
.depth3Frame01 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 960px;
  	height: 1205px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	max-width: 960px;
}
.depth6Frame31 {
  	position: absolute;
  	top: 588px;
  	left: 704px;
  	border-radius: 8px;
  	width: 160px;
  	height: 279px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
  	min-width: 160px;
}
.depth2Frame1 {
  	width: 960px;
  	position: relative;
  	height: 1205px;
}
.aboutUs {
  	align-self: stretch;
  	position: relative;
  	font-size: 16px;
  	line-height: 24px;
  	font-family: 'Plus Jakarta Sans';
  	color: #e8f2f2;
  	text-align: center;
}
.depth6Frame05 {
  	width: 160px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	min-width: 160px;
  	cursor: pointer;
}
.depth6Frame12 {
  	width: 160px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	min-width: 160px;
}
.depth5Frame06 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	flex-wrap: wrap;
  	align-content: center;
  	gap: 24px 0px;
}
.depth6Frame06 {
  	width: 24px;
  	height: 24px;
}
.depth5Frame12 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	gap: 16px;
}
.depth5Frame22 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.depth4Frame03 {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 40px 20px;
  	gap: 24px;
}
.depth3Frame02 {
  	width: 960px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	max-width: 960px;
}
.depth2Frame3 {
  	width: 1428px;
  	background-color: #1c170d;
  	height: 200px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
}
.depth1Frame0 {
  	width: 1428px;
  	height: 1470px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.homePage4 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 714px);
  	background-color: #f7fcfc;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.homePage3 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 714px);
  	width: 1428px;
  	height: 1470px;
}
.homePage2 {
  	width: 1428px;
  	position: relative;
  	height: 1470px;
}
.homePage1 {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.homePage {
  	cursor: pointer;
  	border: none;
  	padding: 0;
  	background-color: #fff;
  	position: relative;
  	width: 100%;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}

