.footer {
  	position: absolute;
  	top: 1270px;
  	left: -22px;
  	background-color: #1c170d;
  	width: 1428px;
  	height: 200px;
}
.depth4Frame0 {
  	width: 16px;
  	height: 16px;
}
.wandernest {
  	align-self: stretch;
  	position: relative;
  	line-height: 23px;
}
.depth4Frame1 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	cursor: pointer;
}
.depth3Frame0 {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
}
.destinations {
  	align-self: stretch;
  	position: relative;
  	line-height: 21px;
  	font-weight: 500;
}
.flights {
  	align-self: stretch;
  	position: relative;
  	line-height: 21px;
  	font-weight: 500;
  	cursor: pointer;
}
.depth5Frame2 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.depth4Frame01 {
  	height: 40px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 36px;
}
.signUp {
  	align-self: stretch;
  	position: relative;
  	line-height: 21px;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.depth6Frame0 {
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.depth5Frame01 {
  	width: 84px;
  	border-radius: 12px;
  	background-color: #abb79a;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 16px;
  	box-sizing: border-box;
  	min-width: 84px;
  	max-width: 480px;
  	cursor: pointer;
}
.depth5Frame11 {
  	width: 84px;
  	border-radius: 12px;
  	background-color: #e8f2f2;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 16px;
  	box-sizing: border-box;
  	min-width: 84px;
  	max-width: 480px;
  	cursor: pointer;
}
.depth5Frame21 {
  	width: 40px;
  	border-radius: 12px;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	max-width: 480px;
}
.depth4Frame11 {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 8px;
  	text-align: center;
}
.depth3Frame1 {
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-end;
  	gap: 32px;
  	font-size: 14px;
}
.navbar {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-bottom: 1px solid #e5e8eb;
  	box-sizing: border-box;
  	width: 1428px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	padding: 12px 40px;
  	gap: 0px;
}
.navbarWrapper {
  	width: 1428px;
  	position: relative;
  	height: 65px;
}
.depth7Frame0 {
  	align-self: stretch;
  	width: 40px;
  	border-radius: 12px 0px 0px 12px;
  	max-height: 100%;
}
.searchDestinations {
  	width: 312px;
  	position: relative;
  	line-height: 24px;
  	white-space: pre-wrap;
  	display: inline-block;
  	flex-shrink: 0;
}
.depth7Frame1 {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 0px 12px 12px 0px;
  	background-color: #f5f0e5;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 8px 16px 8px 8px;
}
.depth6Frame02 {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 12px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.depth5Frame02 {
  	position: absolute;
  	top: 12px;
  	left: 16px;
  	width: 928px;
  	height: 48px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	min-width: 160px;
}
.depth4Frame02 {
  	align-self: stretch;
  	position: relative;
  	height: 72px;
  	color: #a1824a;
}
.groupChild {
  	position: absolute;
  	top: 1px;
  	left: 0px;
  	border-radius: 24px;
  	background-color: #abb79a;
  	width: 196px;
  	height: 39px;
}
.createCustomPackage {
  	position: absolute;
  	top: 0px;
  	left: 30px;
  	line-height: 40px;
}
.rectangleParent {
  	position: absolute;
  	top: 0px;
  	left: 738px;
  	width: 196px;
  	height: 40px;
}
.tourPackages2 {
  	position: absolute;
  	top: 5px;
  	left: 0px;
  	font-size: 32px;
  	line-height: 40px;
  	display: inline-block;
  	color: #1c170d;
  	width: 960px;
}
.groupParent {
  	width: 960px;
  	position: relative;
  	height: 45px;
  	font-size: 12px;
  	color: #fff;
}
.depth6Frame03 {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.depth6Frame1 {
  	width: 20px;
  	height: 20px;
}
.depth5Frame03 {
  	border-radius: 16px;
  	background-color: #f5f0e5;
  	height: 32px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 8px 0px 16px;
  	box-sizing: border-box;
  	gap: 8px;
}
.depth4Frame2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	padding: 12px 16px 12px 12px;
  	gap: 12px;
  	text-align: center;
  	font-size: 14px;
}
.depth7Frame01 {
  	align-self: stretch;
  	position: relative;
  	border-radius: 12px;
  	max-width: 100%;
  	overflow: hidden;
  	height: 235px;
  	flex-shrink: 0;
  	object-fit: cover;
}
.sundarbansWildlifeExpedition {
  	align-self: stretch;
  	position: relative;
  	line-height: 24px;
  	font-weight: 500;
}
.exploreTheWorlds {
  	align-self: stretch;
  	position: relative;
  	line-height: 21px;
}
.depth8Frame1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-size: 14px;
  	color: #a1824a;
}
.depth7Frame11 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.depth6Frame07 {
  	width: 176px;
  	height: 412px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 0px 12px;
  	box-sizing: border-box;
  	gap: 12px;
}
.depth5Frame04 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
}
.depth7Frame05 {
  	align-self: stretch;
  	position: relative;
  	border-radius: 12px;
  	max-width: 100%;
  	overflow: hidden;
  	height: 234px;
  	flex-shrink: 0;
  	object-fit: cover;
}
.depth6Frame08 {
  	width: 176px;
  	height: 391px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 0px 12px;
  	box-sizing: border-box;
  	gap: 12px;
}
.depth5Frame13 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.depth4Frame3 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 16px;
  	gap: 12px;
}
.depth3Frame01 {
  	width: 960px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	max-width: 960px;
}
.depth2Frame1 {
  	align-self: stretch;
  	height: 1090px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 20px 160px;
  	box-sizing: border-box;
  	font-size: 16px;
  	color: #1c170d;
}
.depth1Frame0 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1428px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.depth5Frame05 {
  	position: absolute;
  	top: 1191px;
  	left: 1324px;
  	border-radius: 12px;
  	width: 53px;
  	height: 60px;
  	overflow: hidden;
}
.aboutUs {
  	align-self: stretch;
  	position: relative;
  	line-height: 24px;
}
.depth6Frame09 {
  	width: 160px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	min-width: 160px;
  	cursor: pointer;
}
.depth6Frame15 {
  	width: 160px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	min-width: 160px;
}
.depth5Frame06 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	flex-wrap: wrap;
  	align-content: center;
  	gap: 24px 0px;
}
.depth6Frame010 {
  	width: 24px;
  	height: 24px;
}
.depth5Frame14 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	gap: 16px;
}
.depth5Frame23 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.depth4Frame03 {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 40px 20px;
  	gap: 24px;
}
.depth3Frame02 {
  	width: 960px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	max-width: 960px;
}
.depth2Frame3 {
  	position: absolute;
  	top: 1270px;
  	left: 0px;
  	background-color: #1c170d;
  	width: 1428px;
  	height: 200px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	text-align: center;
  	font-size: 16px;
  	color: #e8f2f2;
}
.depth0Frame0 {
  	width: 1428px;
  	position: relative;
  	background-color: #fff;
  	height: 1470px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.tourPackages1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.tourPackages {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1428px;
  	height: 1470px;
}
.tourPackagesWrapper {
  	width: 1428px;
  	position: relative;
  	height: 1470px;
}
.packages {
  	position: relative;
  	width: 100%;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	text-align: left;
  	font-size: 18px;
  	color: #0d1c1c;
  	font-family: 'Plus Jakarta Sans';
}

